/*** Table Styles **/

body{
  background:#2E2E2E;
  padding:15px;
}

*{
  font-family:Arial;
  color:#FEFEFE;
}

.online{
	color:#849324;
}

.offline{
	color:#fd151b;
}

.status-history{
	table-layout:auto;
	border-spacing: 0px;
	border-collapse: separate;
  width:900px;
  margin-left:auto;
  margin-right:auto;
}

.status-history td{
	width:10px;
	height:25px;
} 

.status-history td.bad{
	background:#fd151b;
}

.status-history td.ok{
	background:#ffb30f;
}

.status-history td.good{
	background:#849324;
}

.status-history td:hover{
	background:#ADB5BD;
}

.tooltip {
	position: relative;
	border-right:1px solid #2E2E2E;
}
  
.tooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: #F8F9FA;
	color: #2E2E2E;
	text-align: center;
	border:1px solid #000000;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 10;
	top: 110%;
	left: 50%;
	margin-left: -125px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.table-fill {
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 900px;
  padding:5px;
  width: 100%;
}
  
.table-fill tr {
  color:#FEFEFE;
  font-size:16px;
  font-weight:normal;
}
 
.table-fill td {
  background:#1C1C1C;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}